# use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[alias]
  a = add
  amend = commit --amend --all --no-edit
  c = commit -am
  cherry = cherry-pick
  cherrypick = cherry-pick
  co = checkout
  cp = cherry-pick
  df = diff --color --color-words --abbrev
  diffbranch = !"git diff $(git merge-base HEAD origin/master)"
  fpush = push --force
  hreset = reset --hard
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  s = status
  sclone = clone --depth=1
  undocommit = reset HEAD~
  w = switch

  # show commit log of unique commits of this branch (not on master)
  diffcommitsfrommaster = log --no-merges master..
  # show unified diff of unique commits of this branch (and working tree)
  difffrommaster = diff master:
  # ^^^^ diff master... (with THREE dots) is similar, but doesn't include working tree
  #     ^^^^ also, two dots vs three dots, so important. https://stackoverflow.com/a/48681527

  # What's the ancestor commit this branch shares with master?
  diffbase = merge-base HEAD origin/master

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

[color]
  ui = auto

[core]
  # https://github.com/dandavison/delta
  pager = delta

[pull]
  rebase = true

[diff]
  colorMoved = default

[merge]
  conflictstyle = diff3
  tool = nvimdiff

[interactive]
  diffFilter = delta --color-only

[delta]
  dark = true
  file-decoration-style = yellow ol ul
  file-style = bold yellow ul
  hunk-header-decoration-style = blue
  hunk-header-line-number-style = purple bold
  line-numbers = true
  max-line-length = 700
  navigate = true
  syntax-theme = base16

